---
layout: default
---

<div class="gallery-intro">
  <h1><b>My Scientific Journey</b></h1>
  <p>A collection of pictures reflecting my journey in science and the wonderful people who I met along the way.</p>
  <p>Or a timeline of male-pattern baldness.</p>
  <p>However which way you want to look at it.</p>
  <br>
  <p>Some of the earlier photos aren't in great quality, that's because we didn't actually</p>
  <p>have mobile phones with HD cameras back then. I know, it's hard to believe.</p>
</div>

<div class="gallery">
    {% for entry in page.gallery_images %}
        <div class="gallery-item">
            <img src="{{ site.baseurl }}/assets/img/gallery/{{ entry.image }}" alt="{{ entry.caption | markdownify | strip_html }}">
            <div class="gallery-caption">
                {{ entry.caption | markdownify }}
            </div>
        </div>
    {% endfor %}
</div>